*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito","Arial", sans-serif;
    font-size: 16px;
    line-height: 1;

    min-height: 100vh;
     display: flex;
    flex-direction: column;
    overflow-x: hidden !important;
    background: #fff;
}

img {
    vertical-align: middle;
}

ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}