.transport {
    padding: 60px 0 100px;
}

.transport__container {
    padding: 0 20px;
}

.transport__title {
    text-align: center;
    font-size: 80px;
    line-height: 109px;
    margin: 0;
    margin-bottom: 60px;
}

.transport__list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-grow: 1;
}

.trasnport__item {
    width: 600px;
    flex-grow: 1;
    padding: 30px 0 40px 30px;
    text-align: left;
    background-color: rgba(243, 249, 255, 1);
    border-radius: 12px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: url("../../assets/images/robo-machine.png") no-repeat;
    background-position: 342px 30px;
    background-size: contain;

    &:nth-child(even),&:last-child {
        margin-right: 0;
    }
}

.transport__item-title {
    font-size: 30px;
    margin: 0;
    line-height: 41px;
}

.transport__item-desc {
    width: 300px;
    margin: 0;
    margin: 10px 0 23px;
    font-size: 18px;
    line-height: 35px;
    font-weight: 600;
    color: rgba(102, 117, 130, 1);
}

.trasnport__item--furgon {
    background-image: url("../../assets/images/furgon.png");
    background-position: 260px 30px;
}

.trasnport__item--fructis {
    background-image: url("../../assets/images/fructies.png");
}

.trasnport__item--instrument {
    background-image: url("../../assets/images/instrument.png");
}